*{
	margin: 0px;
	padding: 0px;
	border: 0px;	
}

body {
	font-size:14px;
	font-family: 'Arvo', serif;
	background: #000000 url(images/siteBackground.jpg);
	color:#CCCCCC;
}


section#principal{
	overflow: hidden;
	margin: auto;

	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	width: auto;
	height: auto;
	vertical-align: middle;
	
}


h1{
	font-family: 'Arvo', serif;
	text-align: center;
	font-size:64px;
	padding: 0 15px;
	color: #006633;
}
h2{
	font-family: 'Arvo', serif;	
	font-size:32px;
	padding: 0 15px;
	color: #006633;

}

h2#enMedio{
	margin-top: 65px;
	font-family: 'Arvo', serif;	
	font-size:40px;
	padding: 0 15px;
	color: #006633;
	text-align: center;
}


nav {
	
	text-align: center;
}

table {
	margin: 12px auto;    

    font-family: sans-serif,cursive,arial;

    font-size:18px;
    color:#006633;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
    
}
table tr {
	
    background:#b5cfd2 url('cell-blue.jpg');
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: #999999;
}
table td#A{
	width: 65%;
}
table td#A2{
	width: 65%;
}


table td {
    background:#dcddc0 url('cell-grey.jpg');
    height: 70px;
    text-align: center;
    border-width: 1px;
    padding: 5px;
    padding-bottom: 15px;
    border-style: solid;
    border-color: #999999;
}

input[type=number]{
    font-size:1em;
    width:4em;
    padding:3px;
    margin:0;
    border:1px solid #ddd;
    border-radius:5px;
    text-align:center;
}
input[type=text]{
    font-size:1em;
    width:10em;
    padding:3px;
    margin:0;
    border:1px solid #ddd;
    border-radius:5px;
    text-align:center;
}



article#score{
	margin-top: 150px;	
}
article#score2{
	margin-top: 60px;
}
article#sent{
	margin: auto;	
	width: 100%;
	height: 450px;
	vertical-align: text-bottom;

}

div#siguiente{
	margin: 40px auto;
	height: 50px;
    width: 120px;
	text-align: center;	
	vertical-align: middle;
	background-color: #006633; 		
	border: solid;
	border-radius: 15px;
}
div#enviados{
	margin: auto;
	height: 250px;
    width: 350px;
	text-align: center;	
	//vertical-align: bottom;
	background-color: #006633; 		
	border: 10px solid;
	border-radius: 15px;
}
div#submit{
	margin: 40px auto;
	height: 80px;
    width: 125px;
	text-align: center;	
	vertical-align: middle;
	background-color: #006633; 		
	border: solid;
	border-radius: 15px;
}

p{
	//margin-top: 13px;
	font-family: verdana;
	font-size: 20px;
	color: white;
	text-align: center;
	vertical-align: bottom;
}

a {
	
	font-family: sans-serif
	font-size: 50px;
	color: #669966;
	text-decoration: none;
}
a:hover {
	font-size: 14px;
	color: #336633;
	text-decoration: none;
}

section#goleadores{
	margin: auto;
	width: 1100px;
	min-height: 300px;
	//background-color: black;
}

section#rojita{

	margin: auto;
	width: 1100px;
	height: 230px;
	//background-color: purple;
}

div#golA{		
	width: 500px;
	min-height: 200px;
	//background-color: red;
	float: left;

}

section#General article div#golB{		
	width: 500px;
	min-height: 200px;
	//background-color: red;
	float: right;

}

img{
	width: 30px;
	height: 50px;
	
}

section#amonestados {
	margin: 15px auto
	width: auto;
	height: auto;
	text-align: center;
	
}
